<!doctype html>
<html class="no-js" lang="nl">
    <head>
        <meta charset="utf-8">
        <title>VRT NWS</title>

        <meta name="keywords">
        <meta name="description">
        <meta name="author" content="VRT">
        <meta name="language" content="nl">
        <meta name="robots" content="index,follow">

        <!-- meta tags for mobile -->
        <meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta http-equiv="cleartype" content="on">

    </head>
    <body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <div id="app" />
    </body>
</html>
