$nws-limited-blue-4 : #7ACEF3;
$nws-limited-blue-3 : #2396CD;
$nws-limited-blue-2 : #0091AA;
$nws-limited-blue-1 : #145594;
$nws-limited-blue-0 : #16284A;
$nws-limited-red : #FF4161;
$nws-limited-green : #5DFC71;
$nws-limited-white : #FFFFFF;
