$nws-wide-dark-1 :#383D4A;
$nws-wide-green-2 :#84C803;
$nws-wide-dark-0: #1B2935;
$nws-wide-yellow :#FFE240;
$nws-wide-orange :#FAA634;
$nws-wide-red :#FF4161;
$nws-wide-purple-1 :#991E59;
$nws-wide-purple-0 :#777FCE;
$nws-wide-purple-2 :#6B469C;
$nws-wide-blue-0 :#03157A;
$nws-wide-dark-2 :#16284A;
$nws-wide-blue-1 :#2396CD;
$nws-wide-blue-2 :#0091AA;
$nws-wide-blue-green :#36BCA5;
$nws-wide-green-4 :#0A7B40;
$nws-wide-green-3 :#18A442;
$nws-wide-green-1 :#D3EC98;
$nws-wide-green :#5DFC71;
$nws-wide-white :#FFFFFF;
