@font-face {
	font-family: 'proximanova-thin';
	src: url('../assets/fonts/ProximaNovaT-Thin.eot');
	src: url('../assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
			 url('../assets/fonts/ProximaNovaT-Thin.woff') format('woff'),
			 url('../assets/fonts/ProximaNovaT-Thin.ttf') format('truetype'),
			 url('../assets/fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg'),
			 url('../assets/fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-bold';
	src: url('../assets/fonts/ProximaNova-Bold.eot');
	src: url('../assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
			 url('../assets/fonts/ProximaNova-Bold.woff') format('woff'),
			 url('../assets/fonts/ProximaNova-Bold.ttf') format('truetype'),
			 url('../assets/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
			 url('../assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova';
	src: url('../assets/fonts/ProximaNova-Regular.eot');
	src: url('../assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
			 url('../assets/fonts/ProximaNova-Regular.woff') format('woff'),
			 url('../assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
			 url('../assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
			 url('../assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-extra-bold';
	src: url('../assets/fonts/ProximaNova-Extrabld.eot');
	src: url('../assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
			 url('../assets/fonts/ProximaNova-Extrabld.woff') format('woff'),
			 url('../assets/fonts/ProximaNova-Extrabld.ttf') format('truetype'),
			 url('../assets/fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg'),
			 url('../assets/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-bold-it';
	src: url('../assets/fonts/ProximaNova-BoldIt.eot');
	src: url('../assets/fonts/ProximaNova-BoldIt.woff2') format('woff2'),
			 url('../assets/fonts/ProximaNova-BoldIt.woff') format('woff'),
			 url('../assets/fonts/ProximaNova-BoldIt.ttf') format('truetype'),
			 url('../assets/fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg'),
			 url('../assets/fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-extra-bold-it';
	src: url('../assets/fonts/ProximaNova-ExtrabldIt.eot');
	src: url('../assets/fonts/ProximaNova-ExtrabldIt.woff2') format('woff2'),
			 url('../assets/fonts/ProximaNova-ExtrabldIt.woff') format('woff'),
			 url('../assets/fonts/ProximaNova-ExtrabldIt.ttf') format('truetype'),
			 url('../assets/fonts/ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt') format('svg'),
			 url('../assets/fonts/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-it';
	src: url('../assets/fonts/ProximaNova-RegularIt.eot');
	src: url('../assets/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
			 url('../assets/fonts/ProximaNova-RegularIt.woff') format('woff'),
			 url('../assets/fonts/ProximaNova-RegularIt.ttf') format('truetype'),
			 url('../assets/fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg'),
			 url('../assets/fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-thin-it';
	src: url('../assets/fonts/ProximaNova-ThinIt.eot');
	src: url('../assets/fonts/ProximaNova-ThinIt.woff2') format('woff2'),
			 url('../assets/fonts/ProximaNova-ThinIt.woff') format('woff'),
			 url('../assets/fonts/ProximaNova-ThinIt.ttf') format('truetype'),
			 url('../assets/fonts/ProximaNova-ThinIt.svg#ProximaNova-ThinIt') format('svg'),
			 url('../assets/fonts/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
