@font-face {
  font-family: 'utopia';
  src: url('../assets/fonts/UtopiaStd-Subh.eot');
  src: url('../assets/fonts/UtopiaStd-Subh.woff2') format('woff2'),
       url('../assets/fonts/UtopiaStd-Subh.woff') format('woff'),
       url('../assets/fonts/UtopiaStd-Subh.ttf') format('truetype'),
       url('../assets/fonts/UtopiaStd-Subh.svg#UtopiaStd-Subh') format('svg'),
       url('../assets/fonts/UtopiaStd-Subh.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'utopia-bold';
  src: url('../assets/fonts/UtopiaStd-BoldSubh.eot');
  src: url('../assets/fonts/UtopiaStd-BoldSubh.woff2') format('woff2'),
       url('../assets/fonts/UtopiaStd-BoldSubh.woff') format('woff'),
       url('../assets/fonts/UtopiaStd-BoldSubh.ttf') format('truetype'),
       url('../assets/fonts/UtopiaStd-BoldSubh.svg#UtopiaStd-BoldSubh') format('svg'),
       url('../assets/fonts/UtopiaStd-BoldSubh.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'utopia-it';
  src: url('../assets/fonts/UtopiaStd-SubhIt.eot');
  src: url('../assets/fonts/UtopiaStd-SubhIt.woff2') format('woff2'),
       url('../assets/fonts/UtopiaStd-SubhIt.woff') format('woff'),
       url('../assets/fonts/UtopiaStd-SubhIt.ttf') format('truetype'),
       url('../assets/fonts/UtopiaStd-SubhIt.svg#UtopiaStd-SubhIt') format('svg'),
       url('../assets/fonts/UtopiaStd-SubhIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'utopia-bold-it';
  src: url('../assets/fonts/UtopiaStd-BoldSubhIt.eot');
  src: url('../assets/fonts/UtopiaStd-BoldSubhIt.woff2') format('woff2'),
       url('../assets/fonts/UtopiaStd-BoldSubhIt.woff') format('woff'),
       url('../assets/fonts/UtopiaStd-BoldSubhIt.ttf') format('truetype'),
       url('../assets/fonts/UtopiaStd-BoldSubhIt.svg#UtopiaStd-BoldSubhIt') format('svg'),
       url('../assets/fonts/UtopiaStd-BoldSubhIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
